// Define variables for your color scheme

// For example:
$red: #FE0404;
$blue: #353693;
$yellow: #FEF208;
$orange: #E67E22;
$green: #1EDD88;
$gray: #545E75;
$light-gray: #F4F4F4;
$black: #171A21;

/* RGB */
$color1: rgba(116, 93, 79, 1);
$color2: rgba(144, 102, 81, 1);
$color3: rgba(247, 174, 248, 1);
$color4: rgba(253, 197, 245, 1);
$color5: rgba(249, 224, 217, 1);
