<div class="btn-group">
  <button type="button" class="list-group-item mx-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <!-- test burger to X moving-->
    <div class="nav-icon">
      <div class="burger-menu">
      </div>
    </div>
  </button>
  <div class="dropdown-menu">
    <% link_to class: "btn btn-empty mx-1 list-group-item btn-navbar" %>
      <a class="dropdown-item" href="/likes">  Mon Dashboard </a>
      <a class="dropdown-item" href="/likes">  Mon Profil</a>
   <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/users/sign_out" data-method= "delete">Se déconnecter</a>
    </div>
  </div>
