<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/lamarienyoga/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/mari%C3%A9n-garcia-4b9b783b/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-link-credit">
    <a href="https://www.linkedin.com/in/laurent-binder/" target="_blank">
      <div class="footer-copyright">
        This Website is made with <i class="fas fa-heart"></i> by Lo
      </div>
    </a>
  </div>
</div>
