<div class="moving-letters pt-4 flex-start" type="submit">

  <%= link_to root_path do %>
    <h1 class="pb-4" style="font-size: 40px">

      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters letters-left">Béatrix</span>
        <span class="letters ampersand"><i class="fas fa-yin-yang"></i></span>
        <span class="letters letters-right">Kiddo</span>
        <span class="line line2"></span>
      </span>
    </h1>
  <% end %>
</div>
