<div class="moving-letters flex-start" type="submit">

  <%= link_to root_path do %>
    <h1>

      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters letters-left">Hatha</span>
        <span class="letters ampersand"><i class="fas fa-yin-yang"></i></span>
        <!-- <span class="letters ampersand"> <%#= image_tag 'l3.svg' %></span> -->
        <span class="letters letters-right">yogA</span>
        <span class="line line2"></span>
      </span>
    </h1>
  <% end %>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
