<%= render 'shared/navbar' %>

<div class="about">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1540489648364-fcf95836d808);">
    <div class="container">
      <h1>Béatrix Kiddo</h1>
      <p>Change your life and learn yoga.</p>
      <a class="btn btn-flat" href="#">About me</a>
    </div>
  </div>
</div>
<!-- images presentation -->
<div class="container">
  <!-- <div class="images">
    <div class="card image-a"></div>
    <div class="card image-b"></div>
    <div class="card image-c"></div>
    <div class="card image-d"></div>
    <div class="card image-e"></div>
  </div> -->
</div>


<!-- footer -->
<!-- <p>Photos by Wesley Tingey
</p> -->
<%= render 'shared/footer' %>
