<%= render 'shared/navbar' %>

<div class="container">
  <div class="photos">
    <div class="card photo-a">
      <%#= image_tag  %>
    </div>
    <div class="card photo-b"></div>
    <div class="card photo-c"></div>
    <div class="card photo-d"></div>
    <div class="card photo-e"></div>
  </div>

</div>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- footer -->
<p>Photos by Wesley Tingey
</p>
<%= render 'shared/footer' %>
