<%= render 'shared/navbar' %>

<div class="about">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1540489648364-fcf95836d808);">
    <div class="container-title">
      <h1>Béatrix Kiddo</h1>
      <p>Change your life and learn yoga.</p>
      <a class="btn btn-flat" href="#">About me</a>
    </div>
  </div>
</div>
<div class="container">
  <!-- hatha yoga info -->
  <div class="hatha">
    <div class="card-info">
      <div class="content">
        <h2>Le Hatha-Yoga : le yoga le plus pratiqué en Occident</h2>
        <p>Le Hatha-Yoga ou Hathayoga est un terme sanskrit. Ce type de yoga, par la pratique précise et rythmée de postures, permet au pratiquant une maîtrise du corps et des sens. Il trouve son origine dans des textes anciens, les yoga sutras de Patanjali.</p>
      </div>
      <div class="image-info">
        <img src="https://cdn.pixabay.com/photo/2016/09/12/16/55/girl-1665173_960_720.jpg" alt="yoga on the beach">

      </div>

    </div>
  </div>

  <!-- about -->
  <div class="container">
    <div class="about">
      <div class="card-about">
        <h2>Béatrix</h2>
        <p>
          Béatrix a découvert les bienfaits du yoga après avoir pratiqué un art martial de façon intensive, la laissant avec plusieurs tendinites lui interdisant toute pratique sportive, alors qu'elle adorait aussi surfer !


          Le yoga lui a permis de soulager ses maux et lui a appris à rentrer en relation avec elle-même, ses capacités physiques et mentales. Il lui a aussi apporté un équilibre émotionnel précieux dans une ville intense comme Paris. Forte de 10 ans de pratique régulière en yoga Vinyasa au Studio Gérard Arnaud, elle décide d'approfondir ses connaissances et suit la formation initiale de la Fédération Française de Yoga avec Gérard Arnaud en 2015 (RYT 200H).



          Ayant également bénéficié lors de ses 2 grossesses des connaissances sur le périnée du Dr Bernadette de Gasquet, elle se spécialise la même année en yoga pré- et post natal à l'Institut De Gasquet. Elle est désormais heureuse de pouvoir accompagner les femmes avant et après leur accouchement grâce à la méthode ©APOR (Approche POsturo-Respiratoire).


          Hélène aime enseigner le Vinyasa pour la justesse et la rigueur de ses alignements, elle porte une attention particulière à détailler les asanas dans le respect de la morphologie et des capacités de chacun. En prénatal elle attache beaucoup d'importance à l'écoute et au bien-être des mamans parce que selon elle, la conception, la grossesse et la naissance sont les éléments majeurs qui conditionnent la vie  d’un être humain. Alors aider à soulager les maux de la grossesse grâce à des postures justes, faire prendre conscience aux futures mamans de l'importance de la respiration pour se détendre et améliorer le bien-être du bébé font partie des missions qu'elle s'est donnée dans la vie.
        </p>
      </div>

    </div>
  </div>

  <!-- images presentation -->
  <div class="container">
    <!-- <div class="images">
      <div class="card image-a"></div>
      <div class="card image-b"></div>
      <div class="card image-c"></div>
      <div class="card image-d"></div>
      <div class="card image-e"></div>
    </div> -->
  </div>
</div>


<!-- footer -->
<!-- <p>Photos by Wesley Tingey
</p> -->
<%= render 'shared/footer' %>
