.card-info {
  display: flex;
  text-align: justify;
    .avatar-large {
      max-width: none;
      width: 104px;

    }
    .avatar-image{
      text-align: center;
    }
    .img-right {
      margin-left: 16px;
      align-self: center;
    }
}
