.container-tarif {
  display: flex;
  justify-content: space-between;
    .card-tarif {
      width: 360px;
      height: 360px;
      padding: 16px;
      border-radius: 2px;
      background-color: $green-blue1;
      color: white;
      text-align: justify;
    }
    .tarif-end {

    }
}
